html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f8f9fc;
  color: #1e293b;
}

section {
  padding: 80px 10%;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #0f172a;
}