.header {
  background-color: #003366;
  padding: 20px 40px;
  color: white;
  
}

.header-content {
  display: flex;
  align-items: center;
  gap: 20px;

}

.logo {
  width: 80px;
  height: auto;
  border-radius: 8px;
 
}

.header h1 {
  margin: 10px;
  
  font-size: 24px;
}

.header p {
  margin: 5px 0 0 0;
  font-size: 16px;
}