.services {
  padding: 40px 20px;
  background-color: #f4f6f9;
  align-items: center;
}

.services h2 {
  color: #003366;
  justify-content: center;
  margin-left: 40%;
}

.services ul {
  padding-left: 20px;
}

.services li {
  margin-bottom: 10px;
}
.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(39, 39, 39, 0.05);
  transition: 0.3s;
  font-weight: 500;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.1);
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.service-card {
  background: white;
  padding: 30px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  transition: 0.4s ease;
  font-weight: 500;
}

.service-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 40px rgba(37,99,235,0.15);
}